
 p {display: flex; max-width: 600px;}
 .item {display: inline-block;}
 .dots {display: inline-block; margin-left: 0.5em; margin-right:0.5em; flex-grow:5 ; border-bottom: 2px dotted rgb(0, 0, 0)}
 .price {display: inline-block;}

